{% set navPages = collections.all | eleventyNavigation %}
<ul class="nav">
{%- for entry in navPages %}
  <li{% if entry.url == page.url %} class="nav-activo"{% endif %}>
    <a href="{{ entry.url | url }}">{{ entry.title }}</a>
  </li>
{%- endfor %}
</ul>