.teayudamos{
    position: fixed;
    font-size: 12px;
    font-weight: 300;
    border: 1.5px solid black;
    width: 250px;
    height: 35px;
    text-align: center;
    padding-top: 5px;
    left: 1432px;
    top: 450px;
    background-color: white;
    z-index: 30;
    color: black;
    cursor: pointer;

}

.talla{
    background-color: white;
    width: 860px;
    border: 1.5px solid black;
    position: fixed;
    left: 825px;
    top: 450px;
    padding: 35px 45px;
    font-size: 15px;
    z-index: 20;
    transform: translateX(860px);
    transition: transform .3s;
    z-index: 40;
}

.talla.visible{
    transform: translateX(0);
}

.cabeceratalla{
    display: flex;
    justify-content: space-between;
}

.numeros{
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    margin-right: 60px;
}

.numeros a{
    margin-left: 145px;
}

.quetallabuscas{
    font-weight: bold;
    margin-bottom: 60px;
}

.talla img{
    width: 15px;
}

.cruz{
    cursor: pointer;
}

.siguiente a{
    font-weight: 100;
    text-decoration: none;
    color: black;
}



